/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

.header {
  background-image: url("../images/apple-pie.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  /* position: relative; */
  color: aliceblue;
  display: flex;
  font-size: 55px;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}

.paragraph {
  margin: 50px 200px;
  font-size: 26px;
  line-height: 36px;
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
  justify-content: center;
}

.lists {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  margin: 50px 200px;
  font-size: 20px;
  
}

.ingredients-ul li{
  list-style-type: "-";
}

